<section class="d-flex flex-column">


<center>
<div class="card" style="width: 40rem;">
<span class="text-center">
<div class="spinner-grow text-primary " role="status">
  <span class="sr-only">Loading...</span>
</div>
</span>



  <div class="card-body">
    <h5 class="card-title fw-bold diaply-3">WALLET WORRIOR APPLICATION </h5>
    
    <br><br>
    <%= link_to 'LOG IN', new_user_session_path, class: 'btn bg-pri text-light  fw-bold' %>
   <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-info text-secondary fw-bold' %>
  </div>
</div>
</center>



</section>